node_modules
npm-debug.log
.env
.env.local
.env.*.local
.git
.gitignore
README.md
.vscode
.idea
*.log
petizo/data/petizo.db
petizo/data/uploads/*
petizo/data/python_packages
petizo/data/easyocr_models
petizo/ocr_system/__pycache__
**/__pycache__
*.pyc
.DS_Store
